body {
  margin: 0;
  padding: 0;
  background: #2D042C;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Oswald', sans-serif; }

@keyframes paralax {
  from {
    background-position: 4% 1%; }
  to {
    background-position: 800% 300%; } }
@keyframes fadIn {
  0% {
    opacity: 0;
    zoom: 0; }
  100% {
    opacity: 1;
    zoom: 110%; } }
@keyframes sunshine {
  from {
    border: solid 50px #fcfecd; }
  to {
    border: solid 100px #ffffff; } }
@keyframes popup {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.container {
  position: absolute;
  background: url("../img/stars.png");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 1260px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: paralax;
  animation-duration: 400s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

#stars img {
  position: relative; }

.milkyway {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 200px;
  background: transparent;
  border: #ffcccc solid 4px;
  border-radius: 50%; }

.ring {
  position: relative;
  width: 800px;
  margin: auto;
  margin-top: 17px;
  height: 150px;
  background: transparent;
  border: #ffcccc solid 4px;
  border-radius: 50%; }

.ring2 {
  position: relative;
  width: 600px;
  margin: auto;
  margin-top: 17px;
  height: 100px;
  background: transparent;
  border: #ffcccc solid 4px;
  border-radius: 50%; }

.ring3 {
  position: relative;
  width: 500px;
  margin: auto;
  margin-top: 17px;
  height: 50px;
  background: transparent;
  border: #ffcccc solid 4px;
  border-radius: 50%; }

.sunT {
  position: absolute;
  top: -40px;
  left: 150px;
  margin: auto;
  margin-top: -50px;
  width: 200px;
  height: 100px;
  background: #ffff33;
  border-radius: 100px 100px 0 0; }

.sunB {
  position: absolute;
  bottom: -60px;
  left: 150px;
  z-index: -1;
  margin: auto;
  margin-top: -50px;
  width: 200px;
  height: 100px;
  background: #ffff33;
  border-radius: 0 0 100px 100px; }

#core {
  position: absolute;
  top: -15px;
  left: 220px;
  width: 60px;
  height: 60px;
  background: #fc785a;
  border-radius: 100%; }

.earth {
  position: absolute;
  left: -10px;
  top: 14px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue; }

.jupiter {
  position: absolute;
  left: 20px;
  top: 17px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffaa80;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-name: rotate;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear; }

.saturnRing {
  position: absolute;
  top: 120px;
  left: 100px;
  width: 40px;
  height: 10px;
  transform: rotate(20deg);
  background: transparent;
  border: #ffffff solid 4px;
  border-radius: 50%; }
  .saturnRing #saturn {
    position: absolute;
    left: 5px;
    top: -10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffcc99; }

.sun2 {
  position: relative;
  margin: auto;
  width: 600px;
  height: 600px;
  background: #ffff33;
  border: solid 50px #fcfecd;
  animation: sunshine;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }
  .sun2 #core2 {
    width: 200px;
    height: 200px;
    background: #fc785a;
    border-radius: 100%; }

.info {
  position: absolute;
  top: 70%;
  width: 50%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  animation: fadeIn;
  animation-name: popup;
  animation-duration: 7s;
  transition-timing-function: ease-in; }

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 90px;
  opacity: .01;
  position: relative;
  transition: all 0.9s; }
  .navbar:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .navbar li {
    list-style: none;
    float: right;
    margin-right: 40px;
    margin-top: 35px;
    font-size: 20px; }
  .navbar a {
    text-decoration: none;
    color: white;
    transition: all 0.9s; }
    .navbar a:hover {
      color: red; }
  .navbar #logo {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    height: auto; }
    .navbar #logo img {
      width: 60%; }

.button button {
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.9s;
  height: 60px;
  width: 100px;
  padding: 10px;
  font-size: 20px;
  color: white;
  border: none;
  outline: none; }
  .button button:hover {
    opacity: 1;
    background-color: white;
    cursor: pointer;
    color: red; }

/*# sourceMappingURL=styles.css.map */
