body {
  margin: 0;
  padding: 0;
  background: #2D042C;
  background: url("../img/bg.png");
  background-repeat: no-repeat;
  color: white;
  font-family: 'Oswald', sans-serif; }
  body p {
    font-size: 18px; }
  body li {
    font-size: 18px; }

#stars {
  z-index: -10;
  max-height: 1000px; }

@keyframes paralax {
  from {
    background-position: 4% 1%; }
  to {
    background-position: 800% 300%; } }
@keyframes fadIn {
  0% {
    opacity: 0;
    zoom: 0; }
  100% {
    opacity: 1;
    zoom: 110%; } }
@keyframes sunshine {
  from {
    border: solid 10px #fcfecd; }
  to {
    border: solid 20px #ffffff; } }
@keyframes popup {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: url("../img/stars.png");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: paralax;
  animation-duration: 400s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@media (max-width: 900px) {
  .ourGalaxy {
    height: 100%; } }
.milkyway {
  width: 1000px;
  height: 200px;
  border: #ffcccc solid 3px;
  position: relative;
  margin: auto;
  background: transparent;
  border-radius: 50%;
  transition: all 2s; }
  @media (max-width: 900px) {
    .milkyway {
      display: flex;
      justify-content: center;
      width: 500px;
      height: 500px; } }

.ring {
  width: 800px;
  margin-top: 17px;
  height: 150px;
  border: #ffcccc solid 3px;
  position: relative;
  margin: auto;
  background: transparent;
  border-radius: 50%;
  transition: all 2s;
  border-radius: 50%; }
  @media (max-width: 900px) {
    .ring {
      width: 400px;
      height: 400px;
      margin-top: 50px; } }

.ring2 {
  width: 600px;
  margin-top: 17px;
  height: 100px;
  border: #ffcccc solid 3px;
  position: relative;
  margin: auto;
  background: transparent;
  border-radius: 50%;
  transition: all 2s;
  border-radius: 50%; }
  @media (max-width: 900px) {
    .ring2 {
      width: 300px;
      height: 300px;
      margin-top: 50px; } }

.ring3 {
  width: 500px;
  margin-top: 17px;
  height: 50px;
  border: #ffcccc solid 3px;
  position: relative;
  margin: auto;
  background: transparent;
  border-radius: 50%;
  transition: all 2s;
  border-radius: 50%; }
  @media (max-width: 900px) {
    .ring3 {
      width: 200px;
      height: 200px;
      margin-top: 50px; } }

.sunT {
  position: absolute;
  top: -45px;
  left: 150px;
  margin: auto;
  margin-top: -50px;
  width: 200px;
  height: 100px;
  background: #ffff33;
  border-radius: 100px 100px 0 0; }
  @media (max-width: 900px) {
    .sunT {
      width: 70px;
      height: 35px;
      top: 114px;
      left: 60px; } }

.sunB {
  position: absolute;
  bottom: -60px;
  left: 150px;
  z-index: -1;
  margin: auto;
  margin-top: -50px;
  width: 200px;
  height: 100px;
  background: #ffff33;
  border-radius: 0 0 100px 100px; }
  @media (max-width: 900px) {
    .sunB {
      width: 70px;
      height: 35px;
      bottom: 60px;
      left: 60px; } }

#core {
  position: absolute;
  top: -20px;
  left: 220px;
  width: 60px;
  height: 60px;
  background: #fc785a;
  border-radius: 100%; }
  @media (max-width: 900px) {
    #core {
      width: 25px;
      height: 25px;
      top: 86px;
      left: 83px; } }

.earth {
  position: absolute;
  left: -10px;
  top: 14px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
  box-shadow: inset 5px -1px rgba(0, 0, 0, 0.4); }
  @media (max-width: 900px) {
    .earth {
      top: 83px;
      left: -11px; } }

.jupiter {
  position: absolute;
  left: 20px;
  top: 17px;
  width: 40px;
  height: 40px;
  box-shadow: inset 5px -1px rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffaa80;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-name: rotate;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear; }
  @media (max-width: 900px) {
    .jupiter {
      top: 20px;
      left: -19px; } }

.saturnRing {
  position: absolute;
  top: 120px;
  left: 100px;
  width: 40px;
  height: 10px;
  transform: rotate(20deg);
  background: transparent;
  border: #ffffff solid 4px;
  border-radius: 50%; }
  @media (max-width: 900px) {
    .saturnRing {
      top: 11px;
      left: 100px; } }
  .saturnRing #saturn {
    position: absolute;
    left: 5px;
    top: -10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffcc99;
    box-shadow: inset 5px -1px rgba(0, 0, 0, 0.4); }
    @media (max-width: 900px) {
      .saturnRing #saturn {
        top: -14px;
        left: 1px; } }

@media (max-width: 900px) {
  .stars {
    height: 1700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: flex-start;
    align-content: center; } }

.sun2 {
  margin: auto;
  margin-top: 90px;
  width: 350px;
  height: 350px;
  background: #ffff33;
  border: solid 50px #fcfecd;
  animation: sunshine 5s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s; }
  @media (max-width: 900px) {
    .sun2 {
      margin-top: 150px;
      width: 175px;
      height: 175px; } }
  .sun2 #core2 {
    display: block;
    width: 75px;
    height: 75px;
    background: #fc785a;
    border-radius: 100%;
    transition: all 2s; }
    @media (max-width: 900px) {
      .sun2 #core2 {
        width: 40px;
        height: 40px; } }

#jupiter, #earth, #mercury, #venus, #mars, #uranus, #neptune {
  width: 75px;
  height: 75px;
  background: #ffaa80;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: inset -5px -1px rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s; }
  @media (max-width: 900px) {
    #jupiter, #earth, #mercury, #venus, #mars, #uranus, #neptune {
      margin: auto;
      margin-top: 60px;
      margin-bottom: 60px;
      width: 65px;
      height: 65px; } }

#earth, #mercury, #venus, #mars, #uranus, #neptune {
  background: #1B2336;
  height: 20px;
  width: 20px;
  box-shadow: inset -5px -1px rgba(0, 0, 0, 0.4); }
  @media (max-width: 900px) {
    #earth, #mercury, #venus, #mars, #uranus, #neptune {
      margin: auto;
      margin-top: 60px;
      margin-bottom: 60px;
      width: 25px;
      height: 25px; } }

#mercury, #venus, #mars, #uranus, #neptune {
  background: #656565;
  height: 8px;
  width: 8px;
  margin-left: 60px;
  box-shadow: inset -5px -1px rgba(0, 0, 0, 0.4); }
  @media (max-width: 900px) {
    #mercury, #venus, #mars, #uranus, #neptune {
      margin: auto;
      margin-top: 60px;
      margin-bottom: 60px;
      flex-grow: 1;
      width: 10px;
      height: 10px; } }

#venus {
  background: #D1933C;
  height: 20px;
  width: 20px;
  box-shadow: inset -5px -1px rgba(0, 0, 0, 0.4); }
  @media (max-width: 900px) {
    #venus {
      margin: auto;
      margin-top: 60px;
      margin-bottom: 60px;
      width: 20px;
      height: 20px; } }

#mars {
  background: #AB6D46;
  height: 10px;
  width: 10px;
  box-shadow: inset -5px -1px rgba(0, 0, 0, 0.4); }
  @media (max-width: 900px) {
    #mars {
      margin: auto;
      margin-top: 60px;
      margin-bottom: 60px;
      width: 25px;
      height: 25px; } }

@media (max-width: 900px) {
  .saturn img {
    display: block;
    margin: 0 auto;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 40px;
    height: 40px; } }

#uranus {
  background: #CDF3F6;
  height: 50px;
  width: 50px;
  box-shadow: inset -5px -1px rgba(0, 0, 0, 0.4); }
  @media (max-width: 900px) {
    #uranus {
      margin: auto;
      margin-top: 60px;
      margin-bottom: 60px;
      width: 45px;
      height: 45px; } }

#neptune {
  background: #3C57DA;
  height: 40px;
  width: 40px;
  box-shadow: inset -5px -1px rgba(0, 0, 0, 0.4); }
  @media (max-width: 900px) {
    #neptune {
      margin-top: 60px;
      margin-bottom: 60px;
      width: 35px;
      height: 35px; } }

.info {
  display: none;
  position: absolute;
  left: 0px;
  top: 40px;
  width: 100%;
  background-color: white;
  padding: 10px;
  color: black;
  transition: all .8s; }
  .info h2 {
    font-size: 18px; }
  @media (max-width: 900px) {
    .info {
      position: static; }
      .info h2 {
        font-size: 18px; } }

.planet {
  transition: all 2s;
  cursor: pointer; }
  .planet:hover .info {
    display: flex;
    justify-content: center;
    margin-top: -40px;
    font-size: 18px;
    color: #3C57DA;
    animation: fadeIn;
    animation-name: popup;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    animation-duration: 2s;
    transition-timing-function: ease-in; }

footer {
  width: 100%;
  background: white; }
  footer p {
    color: #f4424b;
    text-align: center; }

.footer {
  width: 100%;
  height: 100%;
  padding: 1em;
  color: #f4424b;
  display: flex;
  justify-content: space-around; }
  .footer form {
    margin-top: 10px;
    width: 300px; }
    .footer form input, .footer form textarea {
      width: 100%;
      padding: 5px;
      caret-color: darkred;
      caret-width: 2px;
      background: #f4424b;
      outline: none;
      border: none;
      color: white;
      clear: both; }

.about {
  height: 100%;
  flex-direction: column; }

.footerLinks {
  margin-top: 10px;
  padding: 10px; }
  .footerLinks li {
    list-style-type: none;
    margin: 10px; }
  .footerLinks .lineBreak {
    width: 200px;
    height: 3px;
    background-color: #f4424b; }

.about-container {
  margin-top: 130px;
  padding: 1em;
  height: 100%;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.6); }

.social ul {
  overflow: auto;
  margin-left: -50px; }
.social li {
  float: left;
  margin-left: 10px; }

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 90px;
  opacity: 0;
  position: relative;
  font-size: 20px;
  transition: all 0.9s; }
  .navbar:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .navbar li {
    list-style: none;
    float: right;
    margin-right: 40px;
    margin-top: 35px;
    font-size: 20px; }
  .navbar a {
    text-decoration: none;
    color: white;
    transition: all 0.9s; }
    .navbar a:hover {
      color: #f4424b; }
  .navbar #logo {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    height: auto; }
    .navbar #logo img {
      width: 60%; }

.navContent {
  width: 100%;
  max-width: 1250px;
  margin: auto; }

#submit {
  margin-left: 3px;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border: none;
  background: white;
  outline: 3px solid #f4424b; }

/*# sourceMappingURL=styles.css.map */
