footer {
  width: 100%;
  bottom: 0;
  background: white;
  z-index: 1;
  p {
    color: $textColor;
    text-align: center;
  }
}

.footer {
  width: 100%;
  padding: 1em;
  color: $textColor;
  display: flex;
  justify-content: space-around;
  form {
    margin-top: 10px;
    width: 300px;
    input {
      width: 100%;
      padding: 5px;
      caret-color: darkred;
      caret-width: 2px;
      background: $textColor;
      outline: none;
      border: none;
      color: white;
      clear: both;
    }
  }
  textarea {
    @extend input;
  }
}
@media #{$brk-mNarrow}{
  footer {
    position: static;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
}
.about {
  z-index: -1;
  width: 100%;
  flex-direction: column;
}

.footerLinks {
  margin-top: 10px;
  padding: 10px;
  li {
    list-style-type: none;
    margin: 10px;
  }
  .lineBreak {
    width: 200px;
    height: 3px;
    background-color: $textColor;
  }
}
.about-container {
  display: block;
  padding: 1em;
  // background-color: rgba(0, 0, 0, .6);
  width: 85%;
  margin: auto;
  h1 {
    text-align: center;
  }
}
.social {
  img {
    transition: all .3s;
  }
  img:hover {
    transform: scale(1.2);
    filter: brightness(.01);
  }
  ul {
    overflow: auto;
    margin-left: -50px;
  }
  li {
    float: left;
    margin-left: 10px;
  }
}
.content {

}
