footer {
  width: 100%;
  height: 200px;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  color: $textColor;
  display: flex;
  justify-content: center;
}
.about {
  flex-direction: column;
}
.about-container{
  position: absolute;
  top: 90px;
  height: 100%;
  width: 70%;
}
