.container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  @include paralax;
  justify-content: center;
  align-items: center;
  animation: paralax;
  animation-duration: 400s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@media #{$brk-narrow}{
  .ourGalaxy {
    height: 100%;
  }
}
.milkyway {
  width: 1000px;
	height: 200px;
  @include ring;
  @media #{$brk-narrow} {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    margin-top: 10em;
  }
  @media #{$brk-mNarrow} {
    margin-top: 15em;
    width: 300px;
    height: 300px;
  }
}
.ring {
  width: 800px;
  margin-top: 17px;
	height: 150px;
  @include ring;
  border-radius: 50%;
  @media #{$brk-narrow} {
    width: 400px;
    height: 400px;
    margin-top: 50px;
  }
  @media #{$brk-mNarrow} {
    width: 200px;
    height: 200px;
  }
}
.ring2 {
  width: 600px;
  margin-top: 17px;
	height: 100px;
  @include ring;
  border-radius: 50%;
  @media #{$brk-narrow}{
    width: 300px;
    height: 300px;
    margin-top: 50px;
  }
  @media #{$brk-mNarrow} {
    width: 100px;
    height: 100px;
  }
}
.ring3 {
  width: 500px;
  margin-top: 17px;
	height: 50px;
  @include ring;
  border-radius: 50%;
  @media #{$brk-narrow}{
    width: 200px;
    height: 200px;
    margin-top: 50px;
  }
  @media #{$brk-mNarrow} {
    top: -27px;
    width: 50px;
    height: 50px;
  }
}
.sunT {
  position: absolute;
  top: -45px;
  left: 150px;
  margin: auto;
  margin-top: -50px;
  width: 200px;
	height: 100px;
	background: #ffff33;
  border-radius: 100px 100px 0 0;
  @media #{$brk-narrow}{
    width: 70px;
  	height: 35px;
    top: 114px;
    left: 60px;
  }
  @media #{$brk-mNarrow} {
    width: 50px;
    height: 25px;
    top: 48px;
    left: -3px;
  }
}
.sunB{
  position: absolute;
  bottom: -60px;
  left: 150px;
  z-index: -1;
  margin: auto;
  margin-top: -50px;
  width: 200px;
	height: 100px;
	background: #ffff33;
  border-radius:  0 0 100px 100px;
  @media #{$brk-narrow}{
    width: 70px;
  	height: 35px;
    bottom: 60px;
    left: 60px;
  }
  @media #{$brk-mNarrow} {
    width: 50px;
    height: 25px;
    bottom: -3px;
    left: -3px;
    z-index: 1;
  }
}
#core {
  position: absolute;
  top: -20px;
  left: 220px;
  width: 60px;
  height: 60px;
  background: #fc785a;
  border-radius: 100%;
  @media #{$brk-narrow}{
    width: 25px;
  	height: 25px;
    top: 86px;
    left: 83px;
  }
  @media #{$brk-mNarrow}{
    top: 10px;
    left: 9px;
    z-index: 2;
  }
}
.earth {
  position: absolute;
  left: -10px;
  top: 14px;
  width: 20px;
  height: 20px;
  @include planet;
  background: blue;
  @include leftshadow;
  @media #{$brk-narrow}{
    top: 83px;
    left: -11px;
  }
}
.jupiter {
  position: absolute;
  left: 20px;
  top: 17px;
  width: 40px;
  height: 40px;
  @include leftshadow;
  @include planet;
  background: #ffaa80;
  @include animation-duration($speed);
  @include animation-iteration-count(infinite);
  animation-name: rotate;
  @include animation-timing-function(linear);
  @media #{$brk-narrow}{
    top: 20px;
    left: -19px;
  }
}
.saturnRing {
  position: absolute;
  top: 120px;
  left: 100px;
  width: 40px;
  height: 10px;
  transform: rotate(20deg);
  background: rgba(0, 0 ,0, 0);
  border: #ffffff solid 4px;
  border-radius: 50%;
  @media #{$brk-narrow}{
    top: 11px;
    left: 100px;
  }
  #saturn {
    position: absolute;
    left: 5px;
    top: -10px;
    width: 30px;
    height: 30px;
    @include planet;
    background: #ffcc99;
    @include leftshadow;
    @media #{$brk-narrow}{
      top: -14px;
      left: 1px;
    }
  }
}
