.container {
  position: absolute;
  background: url('../img/stars.png');
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: paralax;
  animation-duration: 400s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#stars  {
  position: relative;
  top: 200px;
  max-height: 100%;
  @media #{$brk-narrow}{
  }
}

.milkyway {
  position: relative;
  margin: auto;
  width: 1000px;
	height: 200px;
	background: rgba(0, 0 ,0, 0);
  border: #ffcccc solid 3px;
  border-radius: 50%;
  transition: all 2s;
  @media #{$brk-narrow}{
      display: flex;
      justify-content: center;
      width: 500px;
      height: 500px;
    }
}
.ring {
  position: relative;
  width: 800px;
  margin: auto;
  margin-top: 17px;
	height: 150px;
  background: rgba(0, 0 ,0, 0);
  border: #ffcccc solid 3px;
  border-radius: 50%;
  @media #{$brk-narrow}{
    width: 400px;
    height: 400px;
    margin-top: 50px;
    }
}
.ring2 {
  position: relative;
  width: 600px;
  margin: auto;
  margin-top: 17px;
	height: 100px;
  background: rgba(0, 0 ,0, 0);
  border: #ffcccc solid 3px;
  border-radius: 50%;
  @media #{$brk-narrow}{
      width: 300px;
      height: 300px;
      margin-top: 50px;
    }
}
.ring3 {
  position: relative;
  width: 500px;
  margin: auto;
  margin-top: 17px;
	height: 50px;
  background: rgba(0, 0 ,0, 0);
  border: #ffcccc solid 3px;
  border-radius: 50%;
  @media #{$brk-narrow}{
      width: 200px;
      height: 200px;
      margin-top: 50px;
    }
}
.sunT{
  position: absolute;
  top: -45px;
  left: 150px;
  margin: auto;
  margin-top: -50px;
  width: 200px;
	height: 100px;
	background: #ffff33;
  border-radius: 100px 100px 0 0;
  @media #{$brk-narrow}{
      width: 70px;
    	height: 35px;
      top: 114px;
      left: 60px;
    }
}
.sunB{
  position: absolute;
  bottom: -60px;
  left: 150px;
  z-index: -1;
  margin: auto;
  margin-top: -50px;
  width: 200px;
	height: 100px;
	background: #ffff33;
  border-radius:  0 0 100px 100px;
  @media #{$brk-narrow}{
      width: 70px;
    	height: 35px;
      bottom: 60px;
      left: 60px;
    }
}
#core {
  position: absolute;
  top: -20px;
  left: 220px;
  width: 60px;
  height: 60px;
  background: #fc785a;
  border-radius: 100%;
  @media #{$brk-narrow}{
      width: 25px;
    	height: 25px;
      top: 86px;
      left: 83px;
    }
}
.earth {
  position: absolute;
  left: -10px;
  top: 14px;
  width: 20px;
  height: 20px;
  @include planet;
  background: blue;
  @include leftshadow;
  @media #{$brk-narrow}{
    top: 83px;
    left: -11px;
    }
}
.jupiter {
  position: absolute;
  left: 20px;
  top: 17px;
  width: 40px;
  height: 40px;
  @include leftshadow;
  @include planet;
  background: #ffaa80;
  @include animation-duration($speed);
  @include animation-iteration-count(infinite);
  animation-name: rotate;
  @include animation-timing-function(linear);
  @media #{$brk-narrow}{
    top: 20px;
    left: -19px;
    }
}
.saturnRing {
  position: absolute;
  top: 120px;
  left: 100px;
  width: 40px;
  height: 10px;
  transform: rotate(20deg);
  background: rgba(0, 0 ,0, 0);
  border: #ffffff solid 4px;
  border-radius: 50%;
  @media #{$brk-narrow}{
    top: 11px;
    left: 100px;
    }
  #saturn {
    position: absolute;
    left: 5px;
    top: -10px;
    width: 30px;
    height: 30px;
    @include planet;
    background: #ffcc99;
    @include leftshadow;
    @media #{$brk-narrow}{
      top: -14px;
      left: 1px;
      }
  }
}
