.sun2 {
  position: relative;
  margin: auto;
  width: 600px;
  height: 600px;
  background: #ffff33;
  border: solid 50px #fcfecd;
  animation: sunshine;
  @include animation-duration($speed);
  @include planet;
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
  #core2 {
    width: 200px;
    height: 200px;
    background: #fc785a;
    border-radius: 100%;
  }
}
.info {
  position: absolute;
  top: 70%;
  width: 50%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  animation: fadeIn;
  animation-name: popup;
  animation-duration: 7s;
  transition-timing-function: ease-in;
}
