.stars {
  @media #{$brk-narrow}{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: flex-start;
    align-content: center;
    margin-top: 100px;
    }
}
.sun2 {
  margin: auto;
  width: 600px;
  height: 600px;
  background: #ffff33;
  border: solid 50px #fcfecd;
  animation: sunshine;
  @include animation-duration($speed);
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
  @include planet;
  transition: all 2s;
  @media #{$brk-narrow}{
    width: 350px;
    height: 350px;
  }
  // @media #{$brk-wide}{
  //   // margin: 50px;
  //   // width: 900px;
  //   // height: 900px;
  // }
  #core2 {
    display: block;
    width: 200px;
    height: 200px;
    background: #fc785a;
    border-radius: 100%;
    transition: all 2s;
    @media #{$brk-narrow}{
      width: 80px;
      height: 80px;
    }
    // @media #{$brk-wide}{
    //   width: 400px;
    //   height: 400px;
    // }
  }
}
#jupiter {
  width: 200px;
  height: 200px;
  background: #ffaa80;
  margin-left: 10px;
    margin-right: 10px;
  @include rightshadow;
  @include planet;
  transition: all 2s;
  @media #{$brk-narrow}{
    width: 130px;
    height: 130px;
    margin: 50px;
  }
  // @media #{$brk-wide}{
  //   width: 450px;
  //   height: 450px;
  // }
}
#earth {
  @extend #jupiter;
  background: #1B2336;
  height: 60px;
  width: 60px;
  @include rightshadow;
  @media #{$brk-narrow}{
    width: 50px;
    height: 50px;
    margin: 50px;
  }
  // @media #{$brk-wide}{
  //   width: 150px;
  //   height: 150px;
  // }
}
#mercury {
  @extend #earth;
  background: #656565;
  height: 25px;
  width: 25px;
  margin-left: 60px;
  @include rightshadow;
  @media #{$brk-narrow}{
    flex-grow: 1;
    width: 20px;
    height: 20px;
    margin: 50px;
  }
}
#venus {
  @extend #mercury;
  background: #D1933C;
  height: 50px;
  width: 50px;
  @include rightshadow;
  @media #{$brk-narrow}{
    width: 40px;
    height: 40px;
    margin: 50px;
  }
}
#mars {
  @extend #mercury;
  background: #AB6D46;
  height: 30px;
  width: 30px;
  @include rightshadow;
  @media #{$brk-narrow}{
    width: 25px;
    height: 25px;
    margin: 50px;
  }
}
.saturn {
  @media #{$brk-narrow}{
    img {
      width: 100px;
      height: 100px;
      margin: 50px;
    }
  }
}
#uranus {
  @extend #mercury;
  background: #CDF3F6;
  height: 120px;
  width: 120px;
  @include rightshadow;
  @media #{$brk-narrow}{
    width: 70px;
    height: 70px;
    margin: 50px;
  }
}
#neptune {
  @extend #mercury;
  background: #3C57DA;
  height: 100px;
  width: 100px;
  @include rightshadow;
  @media #{$brk-narrow}{
    width: 70px;
    height: 70px;
    margin: 50px;
  }
}
.info {
  position: static;
  display: none;
  top: 100px;
  left: -20px;
  width: 600px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  transition: all .8s;
  h2 {
    font-size: 18px;
  }
  @media #{$brk-narrow}{
    position: static;
    h2 {
      font-size: 18px;
    }
  }
}
.planet {
  transition: all 2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
    .info {
    display: block;
    animation: fadeIn;
    animation-name: popup;
    animation-duration: 2s;
    transition-timing-function: ease-in;
  }
 }
}
