@media #{$brk-narrow}{
  #jupiter,
  #earth,
  #mercury,
  #venus,
  #mars,
  #saturn,
  #uranus,
  #neptune {
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
  }
}

.stars {
  @media #{$brk-narrow}{
    height: 1700px;
    // max-height: 1700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: flex-start;
    align-content: center;
  }
}
.sun2 {
  margin: auto;
  margin-top: 90px;
  width: 350px;
  height: 350px;
  background: #ffff33;
  border: solid 50px #fcfecd;
  animation: sunshine 5s;
  @include animation-duration($speed);
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
  @include planet;
  transition: all 2s;
  @media #{$brk-narrow}{
    width: 175px;
    height: 175px;
  }
  #core2 {
    display: block;
    width: 75px;
    height: 75px;
    background: #fc785a;
    border-radius: 100%;
    transition: all 2s;
    @media #{$brk-narrow}{
      width: 40px;
      height: 40px;
    }
  }
}
#jupiter {
  width: 75px;
  height: 75px;
  background: #ffaa80;
  margin-left: 10px;
  margin-right: 10px;
  @include rightshadow;
  @include planet;
  transition: all 2s;
  @media #{$brk-narrow}{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 65px;
    height: 65px;
  }
}
#earth {
  @extend #jupiter;
  background: #1B2336;
  height: 20px;
  width: 20px;
  @include rightshadow;
  @media #{$brk-narrow}{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
  }
}
#mercury {
  @extend #earth;
  background: #656565;
  height: 8px;
  width: 8px;
  margin-left: 60px;
  @include rightshadow;
  @media #{$brk-narrow}{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
    width: 10px;
    height: 10px;
  }
}
#venus {
  @extend #mercury;
  background: #D1933C;
  height: 20px;
  width: 20px;
  @include rightshadow;
  @media #{$brk-narrow}{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
  }
}
#mars {
  @extend #mercury;
  background: #AB6D46;
  height: 10px;
  width: 10px;
  @include rightshadow;
  @media #{$brk-narrow} {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
  }
}
.saturn {
  @media #{$brk-narrow}{
    img {
      display: block;
      margin: 0 auto;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 40px;
      height: 40px;
    }
  }
}
#uranus {
  @extend #mercury;
  background: #CDF3F6;
  height: 50px;
  width: 50px;
  @include rightshadow;
  @media #{$brk-narrow}{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
  }
}
#neptune {
  @extend #mercury;
  background: #3C57DA;
  height: 40px;
  width: 40px;
  @include rightshadow;
  @media #{$brk-narrow}{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 35px;
    height: 35px;
  }
}
.info {
  // visibility: hidden;
  display: none;
  position: absolute;
  left: 0px;
  top: 40px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  color: black;
  transition: all .8s;
  h2 {
    font-size: 18px;
  }
  @media #{$brk-narrow}{
    position: static;
    h2 {
      font-size: 18px;
    }
  }
}
.planet {
  transition: all 2s;
  cursor: pointer;
  &:hover {
    .info {
      display: flex;
      justify-content: center;
      margin-top: -40px;
      font-size: 18px;
      color: #3C57DA;
      animation: fadeIn;
      animation-name: popup;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      animation-duration: 2s;
      transition-timing-function: ease-in;
    }
  }
}
