@font-face {
  font-family: 'portico';
  src: url('../Portico/Portico Rounded.otf');
}
@font-face {
  font-family: 'portico-outline';
  src: url('../Portico/Portico Outline.otf');
}
body {
  margin: 0;
  padding: 0;
  background: #2D042C;
  background: url('../img/bg.png');
  background-repeat: no-repeat;
  color: white;
  font-family: 'Oswald', sans-serif;
  p {
    font-size: 18px;
  }
  li {
    font-size: 18px;
  }

  h1 {
    font-family: 'portico';
  }
}
#stars  {
  z-index: -10;
  max-height: 1000px;
}
