$speed:      4s;

body {
  margin: 0;
  padding: 0;
  background: #2D042C;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Oswald', sans-serif;
}
a {

}
a:hover {
  .sunT {
    transform: scale(1.5);
    top: -65px;
  }
  .sunB {
    transform: scale(1.5);
    bottom: -85px;
  }
}
