body {
  margin: 0;
  padding: 0;
  background: #2D042C;
  background: url('../img/bg.png');
  p {
    font-size: 18px;
  }
  li {
    font-size: 18px;
  }
  background-repeat: no-repeat;
  color: white;
  font-family: 'Oswald', sans-serif;
}
#stars  {
  z-index: -10;
  max-height: 1000px;
}
