 @mixin planet {
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
@mixin leftshadow {
  box-shadow: inset 5px -1px rgba(0,0,0,0.4);
}
@mixin rightshadow {
  box-shadow: inset -5px -1px rgba(0,0,0,0.4);
}
