$brk-narrow: '(max-width: 900px)';
$brk-wide: '(min-width: 2000px)';
$speed: 2s;
$textColor: #f4424b;

@keyframes paralax {
  from {
		background-position: 4% 1%
	}
	to {
		background-position: 800% 300%;
	}
}
@keyframes fadIn {
  0% {
    opacity: 0;
    zoom: 0;
  }
  100% {
    opacity: 1;
    zoom: 110%;
  }
}
@keyframes sunshine {
  from {border: solid 10px #fcfecd;}
  to {border: solid 20px #ffffff;}
}
@keyframes popup {
  from {opacity: 0}
  to {opacity: 1}
}
@keyframes orbit {
  0%  { -webkit-transform: rotate(0deg) translateX(5px) translateY(120px) rotate(0deg) scale(1); }
 25%  { -webkit-transform: rotate(90deg) translateX(5px) translateY(120px) rotate(-90deg) scale(.75); }
 50%  { -webkit-transform: rotate(180deg) translateX(5px) translateY(120px) rotate(-180deg) scale(.60); }
 75%  { -webkit-transform: rotate(270deg) translateX(5px) translateY(120px) rotate(-270deg) scale(.75); }
 100%  { -webkit-transform: rotate(360deg) translateX(5px) translateY(120px) rotate(-360deg) scale(1); }
}
