
@keyframes paralax {
  from {
		background-position: 4% 1%
	}
	to {
		background-position: 800% 300%;
	}
}
@keyframes fadIn {
  0% {
    opacity: 0;
    zoom: 0;
  }
  100% {
    opacity: 1;
    zoom: 110%;
  }
}
@keyframes sunshine {
  from {border: solid 50px #fcfecd;}
  to {border: solid 100px #ffffff;}
}
@keyframes popup {
  from {opacity: 0}
  to {opacity: 1}
}
